

.puntaje{
    border-radius: 10px;
      text-align: center;
     padding: 20px;
     background: rgb(46, 199, 166);
     transition: .5 all;
     margin-bottom: 30px;
  }
  .puntaje p{
      font-size: 20px;
      color: #fff;
      font-weight: 500;
      
  }
  
  p.infoPuntaje{
      font-size: 25px;
  }
  p.infoPuntaje.ganaste{
      font-size: 50px;
  }
  .correctas{
      font-size: 30px;
      color: #fff;
      font-weight: 700;
  }
  
  
  .caja-colocar img{
      width: 100%;
  }
  .caja-colocar{
      width: 100%;
      display: flex;
  }
  
  .objArrastrable{
      margin: 5px;
      width: 100%;
      text-align: center;
      background-color: #fff;
      border: 5px solid #fff;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
      font-size: 16px;
      cursor: move;
      transition: all 0.2s;
  }
  
    .objArrastrable:hover {
      background-color: rgb(5, 17, 87);
      color: #fff;
      opacity: 1;
    }
  
  .objColocable{
    min-height: 200px;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background-color: #fff;
    border: 3px dashed #111;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
  
  }

  .objColocable span {
    font-size: 1.25rem;
    pointer-events: none; /* The element is never the target of pointer events */
  }
  
  /* Drag and Drop Related Styling */
  
  .objColocable.objColocable-Hover{
    border-width: 5px;
    transform: scale(1.1);
  }
  .objColocable.objColocableValido {
    border-style: solid;
    color: #fff;
  }
  .objColocable.objColocableValido span {
    font-size: 0.75rem;
    margin-top: -0.5rem;
  }
  .objColocable.objColocableValido i {
    pointer-events: none;
  }
  .objArrastrable.objArrastrableValido {
    user-select: none;
    opacity: 0.1;
    cursor: default;
  }
  .bg100.objArrastrable.objArrastrableValido {
    user-select: none;
    opacity: 1;
    cursor: default;
  }
  .objArrastrable.objArrastrableValido:hover {
    opacity: 0.1;
  }
  
  @media (max-width: 600px) {
    html { font-size: 14px; }
    .figuras-arrastrables { margin: 1.5rem; }
  }
  
  
  .botonEnconder{
    display: none;
  }
  .botonEnconder.botonMostrar{
    display: block !important;
  }

  p.textFont1{
    font-size: 1px;
  }
  

.boxTexto{
  background: #fff;
  font-weight: 700;
  padding: 10px;
  margin-top: -10px;
  border-radius: 0 0 5px 5px;
}


.titlePalabraBox{
  text-align: left;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.boxPalabras table{
  margin-bottom: 10px;
}



.boxColocar{
  font-size: 18px;
  margin: 5px;
  min-height: 30px;
  border: 0px;
  min-width: 20px;
  text-align: center;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  transition: .5s all;
}

.numeroTitulo{
  font-size: 25px;
  font-weight: 600;
}

.boxColocar.objColocable.objColocable-Hover{
  border: 2px solid #111;
  width: 20px;
  transform: scale(2);
}

.boxColocar.objColocable.objColocableValido {
  border: 2px solid #111;
  color: #000;
}

.boxFrase{
  margin: 20px 0;
  width: 100%;
  clear: both;
}