@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: #fff;
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: 'Baloo 2', cursive;
}


h1{
  font-family: 'Baloo 2', cursive;
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}

h2 {
  font-family: 'Baloo 2', cursive;
  font-weight: 900;
  margin: 4rem 0 2rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: 'Baloo 2', cursive;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: .5rem;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}
.btn-eliminar {
  background-color: var(--blanco);
}


/** Formulario crear y editar tareas **/
.formulario {
  background-color: var(--gris3);
  padding: 4rem;
}
.formulario form {
  max-width: 600px;
  margin: 0 auto;
}
.contenedor-input {
  display: flex;
}
.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 100%;
  margin-top: 20px;
}

.form-usuario {
    background-color: var(--gris2);
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}

.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: 'Baloo 2', cursive;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alerta {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

.text-center{
  text-align: center;
  text-transform: uppercase;
}

.color-white{
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
}


.lessonBook li{
  display: inline-block;
  padding: 5px;

}

.listHorizontal li{
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  text-transform: capitalize;
}

.seleccionarActividadTitle{
  text-align: center;
  font-size: 20px;
  margin: 0;
  letter-spacing: 7px;
  font-weight: 600;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}

.listHorizontal i{
  clear: both;
  display: block;
}

.lessonBook{
  position: relative;
}


.mapBook{
  display: flex;
  position: relative;
  max-width: 1150px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  background: transparent;
  height: 100%;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
}

.mapBook::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.mapBook .gridscroll{
  display:inline-block;
}

.lessonBook button{
  border: 0;
  background: #fff;
}

.lessonBook .next,
.lessonBook .prev {
  z-index: 999;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 35px;
}

.lessonBook .next{
  right: 30px;
  top: 350px;
}

.lessonBook .prev{
  left: 30px;
  top: 350px;
}



.jugador {
  z-index: 999;
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, .3);
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 4px;
  text-align: center;
  font-size: 40px;
  /* Here we declare our inline animation */
  animation: jugador-rotate 3s linear infinite;
}

.jugador i{
  
  color: rgb(3, 130, 204);

}

.jugador p{
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
  font-size: 10px;
}

.jugador{
  left: 50px;
  bottom: 50px;
}

/* Here we define our animation with the name "rotate" */
@keyframes jugador-rotate {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0);
  }
}


.iconsActivity{
  position: absolute;
}

.iconsActivity li{
  position: absolute;
  font-size: 30px;  
  left: 0;
  top: 0;

}

.iconsActivity li i{
  color: #fff !important;
}

.titleBookHome{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.imgBookHome{
  width: 100%;
}

.imgEnviada{
  text-align: center;
  height: auto;  
  margin: 30px 0;
  background:rgba(255, 255, 255, 0.7);
  border: 10px solid #5ea9d4;
  border-radius: 20px;
  padding: 50px 20px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);

}

.imgEnviada img{
  max-width: 100%;
}

.imgEnviada p{
  font-size: 16px;
  margin-top: 20px;
}

.imgPhotoNone{
  text-align: center;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
  background: #f3f4f5;
  border: 10px solid #fff;
  border-radius: 10px;
  padding: 50px 20px;
}

.imgPhotoNone img{
  max-width: 100%;
  text-align: center;
}


.imgPhotoNone p{
  font-size: 20px;
  font-weight: 600;
  color: #39424e;
}

.formEnviarActividad{
  z-index: 999;
  text-align: center;
}

.botonEnviarActividad{
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  padding: 20px 40px;
  color: #fff;
  font-weight: 700;
  box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
  margin: 10px;
  font-size: 20px;
  animation: botonEnviarAni 2s linear infinite;
}

@keyframes botonEnviarAni {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2,1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}



.actividadEnviada{
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
  color: #39424e;
}
.actividadIcon1{  margin: 620px 140px; }
.actividadIcon2{  margin: 450px 210px; }
.actividadIcon3{  margin: 355px 80px; }
.actividadIcon4{  margin: 200px 250px; }
.actividadIcon5{  margin: 200px 590px; }
.actividadIcon6{  margin: 365px 525px;}
.actividadIcon7{  margin: 575px 585px; }
.actividadIcon8{  margin: 460px 770px; }
.actividadIcon9{  margin: 630px 1100px; }
.actividadIcon10{  margin: 485px 1080px; }
.actividadIcon11{  margin: 300px 1070px;}
.actividadIcon12{  margin: 110px 995px; }
.actividadIcon13{  margin: 80px 1360px; }
.actividadIcon14{  margin: 245px 1490px;}
.actividadIcon15{  margin: 375px 1360px; }
.actividadIcon16{  margin: 580px 1500px; }


/* Congratulation Style */
/* ===================================================================== */
.contenedorCongrat{
  text-align:center;
  margin-top:0px;
  padding-top: 150px;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background: rgba(29, 29, 29, 0.9);
}

.contenedorCongrat h1,
.contenedorCongrat p{
  color: #fff;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.contenedorCongrat p{
  margin-bottom: 20px;
  font-size: 20px;
}

.js-container{
  top:0px !important;
}


@keyframes confetti-slow {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  
  100% { transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg); }
}

@keyframes confetti-medium {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  
  100% { transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg); }
}

@keyframes confetti-fast {
  0% { transform: translate3d(0, 0, 0) rotateX(0) rotateY(0); }
  
  100% { transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg); }
}

.container.containerConfetti {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  border:1px solid white;
  display:fixed;
  top:0px; 
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;
}

.confetti --animation-slow {
  animation: confetti-slow 2.25s linear 1 forwards;
}

.confetti --animation-medium {
  animation: confetti-medium 1.75s linear 1 forwards;
}

.confetti --animation-fast {
  animation: confetti-fast 1.25s linear 1 forwards;
}


/* Checkmark */
.checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}
.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #00C09D;
  position: absolute;
}
.checkmark-circle .checkmark {
  border-radius: 5px;
}
.checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
  animation-delay: 100ms;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after{
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid white;
  border-top: 15px solid white;
  border-radius: 2.5px !important;
  content: '';
  left: 25px;
  top: 75px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}



.submit-btn {
    height: 45px;
    width: 200px;
    font-size: 20px;
    font-weight: 600;
    background-color: #00c09d;
    border: 1px solid #00ab8c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(87,71,81,.2);
    cursor: pointer;
    transition: all 2s ease-out;
    transition: all .2s ease-out;
}

.submit-btn:hover {
    background-color: #2ca893;
    transition: all .2s ease-out;
}

/* Congratulation Style */
/* ===================================================================== */

.congratulationPopup{
  background: rgba(0, 0, 0, .1)
}

.containerCongrat{
  margin-top: 100px;
}

/* Dsesing Activity */
.containerActivity1{
  margin: 30px 0;
  text-align: center;
  background:rgba(255, 255, 255, 0.7);
  border: 10px solid #5ea9d4;
  border-radius: 20px;
  padding: 50px 20px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.2);
  /* background: linear-gradient(93.4deg, #1F3D83 8.16%, #00A7DA 37.71%, #00C897 64.19%, #1BA94C 87.62%, #068932 99.34%); */
}

.progress{
  height: 20px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  max-width: 500px;
  margin: 0 auto;
  
}

.progress-bar{
  color: #0064ff;
  font-size: 20px;
  font-weight: 800;
}

.progress-bar-striped {
  background-image: linear-gradient(45deg,rgba(255,255,255,.30) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.30) 50%,rgba(255,255,255,.30) 75%,transparent 75%,transparent);
  background-size: 1.2rem 1.2rem;
}

.lessonBookActivity{
  text-align: center;
}

.lessonBookActivity li{
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  padding: 10px 30px;
  background: #4559b3;
  color: #fff;
  font-weight: 700;
  box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
  margin: 10px;
}

.lessonBookActivity li a{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.headerActivity{
  background: url(./resources/img/header-activity.png);
  background-position: center bottom;
  height: 280px;
  width: 100%;
  padding-top: 40px;
  
}


.headerActivity h1{
  margin-bottom: 20px;
  color: #fff;
}
.headerActivity h3{
  color: #fff;
  letter-spacing: 5px;
}
.headerActivity p{
  color: #fff;
}

.actividadEnviada{
  z-index: 999;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #00ab8c ;
  padding: 20px;
  width:350px;
  color: #00ab8c !important;
  position: absolute;
  margin: 0 auto;
  margin-bottom: 50px;
  left: 0;
  right: 0;
  margin-top: 50px;
}

.footerActivity{
  margin-bottom: 100px;
}

.title2Activity{
  color: #323663;
  background: #ffe58c;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 600;
} 

.titleBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.titleActivity{
  width: 14ch;
  font-size: 45px;
  color: #f16684;
  font-weight: 800;
  letter-spacing: 5px;
  animation: typing 2s steps(14), blink .5s step-end infinite alternate; 
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
  text-shadow: -2px 0 rgb(255, 255, 255), 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}


@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* Menu miga de pan */

.volverInicio{
  position: absolute;
  margin-left: 10%;
  font-size: 20px;
  font-weight: 700;
}
.volverInicio a{
  color: #fff;
}

.volverInicio .iconHome{
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  padding: 16px; 
  width: 70px;
  height: 70px;
  background: #f7de00;
  font-weight: 700;
  font-size: 28px;
  box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
  margin: 10px;
}

i.fa-house-user{
  color: #0064ff !important;
}



/* Responsive */

@media (max-width: 768px) {
  
  .volverInicio{
    position: relative;
    width: 140px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .headerActivity{
    height: 450px;
    padding-top: 20px;
    
  }

  
}
@media (min-width: 768px) {

  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 300px;
  }
  .seccion-principal {
      flex: 1;
  }

}


.textTextArea{
  margin-top: 50px;
}

.botonEnconder{
  display: none;
}
.botonEnconder.botonMostrar{
  display: block !important;
}


.textoActivity1 p,
.containerActivity1 img{
  margin-top: 10px;
  font-size: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.botonEnviarFoto{
  width: 250px;
  margin: 0 auto;
  margin-top: 30px;
}

p.subeImagen{
  margin-top: 30px;
  color: #4559b3;
  font-weight: 700;
}

.formularioUploadImage{
  color: #4559b3;
  padding: 20px 50px;
  border-radius: 5px;
  text-align: center;
  background: #f7de00;
  font-weight: 700;
  font-size: 20px;
  box-shadow: inset 0px -4px 0px 0px rgb(0 0 0 / 10%);
}


.bgBook{
  background: #fff;
  padding-bottom: 100px;
  background: url(./resources/img/bg-activity.png);
  background-size: cover;

}

.bgHomeBook{
  background: #fff;
  /* background: url(./resources/img/bg-activity.png); */
  background-size: cover;
  padding-bottom: 100px;
}

.tableTextArea{
  margin-top: 30px;
}

.tableTextArea thead{
  font-size: 20px;
}
.tableTextArea tbody{
 font-weight: 700;
}

.tableTextArea tbody img{
  margin-bottom: 30px;
 }
.tableTextArea textarea{
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

.textoActividadBox h2{
  padding: 0;
  margin: 0;
}

.inputW100{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0;
}

.audioBox{
  width: 100%;
}

.botonActColor{
  width: 70px;
  height: 70px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s all;
  border: 2px solid #fff;
}
.botonActColor:hover{
  transform: scale(1.2,1.2);
  border: 5px solid #fff;
}

.botonVerde{
  background: rgb(10, 194, 108);
}
.botonRojo{
  background: rgb(223, 11, 11);
}

.tableAct14 p{
  text-align: left;
  font-size: 18px;
  padding: 10px;
}

.puntajeAct14{
  background: rgb(10, 194, 108);
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  color: #fff;
  padding: 10px 0 2px 0;
}

.piramideAct32{
  width: 1000px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  
}

.figuraMovible {
  /* margin: 40px 0 0 50px; */
  position: absolute;
  z-index: 9;
  background-color: transparent;
  width: 50px ;
}
.piramideAct32 img{
  border-radius: 0px;
  padding: 0px;
  border: 0px;
}

.figuraMovible img{
  height: 100px;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.headerMover {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

.figurasDiv{
  position: relative;
  margin: 50px 0 0 50px
}